# Site settings
title: KMAP Working Group
email: woochang_kang@korea.ac.kr
description: Korean Migration And Politics Working Group
baseurl: ""
url: "https://kmapgroup.github.io"

# Google analytics ID: Uncomment and your own, if you like
# google_analytics: XX
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  KMAP Working Group<br/>
  Korean Migration And Politics<br/>
  Korea University

location: >
  Korea University<br/>
  Department of Political Science<br/>
  Seoul, Korea

contact: >
  <a href="mailto:woochang_kang@korea.ac.kr" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact us via email</a> <br/>
  <a href="https://github.com/kmapgroup"><i class="fa fa-github fa-1x"></i> Visit our GitHub</a>

# Pages shown in navbar
nav_pages:
  - name: members
  - name: research
  - name: publications
  - name: events

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true

plugins:
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
