<section id="footer">
<div class="container-footer">
  <div class="row">
    <div class="col-sm-4">
      <h5>About</h5>
      <p>{{ site.affiliation }}</p>
    </div>
    <div class="col-sm-4">
      <h5>Contact</h5>
      <p>{{ site.contact }}</p>
    </div>
    <div class="col-sm-4">
      <h5>Address</h5>
      <p>{{ site.location }}</p>
    </div>
  </div>
  <p class="funding">{{ site.funding }}</p>
  <p class="kmap-muted">&copy; {{ "now" | date: "%Y" }} {{ site.title | escape }}</p>
</div>
</section>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/slideshow.js" | relative_url }}"></script>
