<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white kmap-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/images/kmap-mark.png' | relative_url }}" alt="">
      <span>KMAP <span class="brand-sub">Working Group</span></span>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
        {% for p in site.nav_pages %}
        <a class="nav-item nav-link{% if page.url contains p.name %} active{% endif %}" href="{{ '/' | append: p.name | append: '/' | relative_url }}">{{ p.name | capitalize }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
